{% extends 'index.html' %}

{% block title %}بخش های مختلف{% endblock %}

{% block header %}
    <nav class="navbar">
        <div>
            <ul class="navbar__ul">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'intro' %}">صفحه قبلی</a></li>
            </ul>
        </div>
        <div>
            <p class="navbar__p">بخش های مختلف</p>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <h1>بخش های مختلف باغ</h1>
    <div>
        <div>
            <h2>موزه سینما</h2>
            <img src="{{ load_media }}image/department/museum1.jpg" alt="موزه" height="250">
            <p>
                طرح ایجاد موزه‌ سینما در شهریور سال ۱۳۷۳ و به همت مدیران مرکز توسعه‌ فضاهای فرهنگی شهرداری تهران مطرح شد. 
                سرانجام با تلاش‌های آقایان عباس کیارستمی، استاد عزت‌الله انتظامی، 
                غلامرضا جلال امیدی، امیر ثباتی، بهزاد رحیمیان و عزیزالله ساعتی موزه‌ سینما در سال ۱۳۷۷ در مکان 
                اولیه خود واقع در خیابان لاله‌زار، کوچه‌ پیرنیا و با حضور آقای حبیبی، 
                معاون اول رئیس‌جمهوری وقت، افتتاح شد. از فعالیت‌های اولیه موزه می‌توان به انتشار چند کتاب، 
                کارت پستال، مجموعه‌ای از موسیقی‌های متن فیلم‌های ایرانی و برگزاری جشن‌های ۱۰۰ سالگی سینما اشاره کرد. 
                پس از گذشت چند سال و در سال ۱۳۸۱، 
                با کمک نهادهای گوناگون از جمله اداره‌ فرهنگ و ارشاد اسلامی و معاونت امور سینمایی و با حضور رئیس‌جمهوری وقت، 
                آقای سید محمد خاتمی، موزه‌ سینما در مکان کنونی آن یعنی مجموعه‌ باغ فردوس گشایش یافت. 
                استاد عزت‌الله انتظامی نیز اولین مدیرعامل موزه‌ سینمای ایران بود.
                <a href="{% url 'museum' %}">جزئیات</a>
            </p>
            <hr/>
    
        </div>
        <div>
            <h2>محوطه باغ</h2>
            <img src="{{ load_media }}image/department/garden1.jpg" alt="باغ" height="250">
            <p>
                باغ فردوس که با نام باغ موزه فردوس، باغ معیری و موزه سینما نیز شناخته می‌شود؛ 
                یکی از باغ‌ها و جاهای دیدنی تهران است که در محله خوش آب‌وهوای باغ فردوس در شمال این شهر قرار دارد. 
                این باغ در سال ۱۳۸۱ شمسی به موزه سینمای ایران تبدیل شده است. 
                قدمت این باغ به دوره قاجار و پادشاهی محمد شاه می‌رسد و از آثار ملی کشور محسوب می‌شود.
                <a href="{% url 'garden' %}">جزئیات</a>
            </p>

        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
