{% extends 'index.html' %}

{% block title %}موزه{% endblock %}

{% block header %}
    <nav class="navbar">
        <div>
            <ul class="navbar__ul">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'department' %}">صفحه قبلی</a></li>
            </ul>
        </div>
        <div>
            <p class="navbar__p">محوطه باغ</p>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <h1>جزئیاتی در مورد محوطه باغ فردوس</h1>
    <div>
        <div>
            <h2>باغ</h2>
            <img src="{{ load_media }}image/department/garden1.jpg" alt="باغ" height="250">
            <p>
                در دروه قاجار باغ‌های متعددی در تهران ایجاد شد که باغ فردوس یکی از آن‌ها به شمار می‌رود 
                و توسط یکی از درباریان محمد شاه، ساخته شد. 
                این باغ در واقع بخش کوچکی از باغ وسیع فردوس محسوب می‌شود که در گذشته اراضی میان اسدآباد و ولنجک در شمال، 
                الهیه از جنوب، دره تجریش از شرق و محمودیه از غرب، جزو زمین‌های باغ فردوس بوده‌اند. 
                باغ فردوس در سرگذشت خود مالکان متعددی به چشم دیده است. 
                روزگاری این باغ در عهد قاجار، در اراضی محمدیه با دو عمارت شمالی و جنوبی برپا شد. 
                پایه‌گذار این باغ و عمارت ییلاقی آن حاجی میرزا آقاسی، صدراعظم محمدشاه بود. 
                بعد از آن باغ به تملک معیرالممالک؛ داماد ناصرالدین شاه رسید. 
                شاه این باغ را به‌عنوان هدیه عروسی به دخترش داد 
                و معیر بعد از تکمیل عمارت جنوبی، جشن عروسی خود را در این محل برگزار کرد.
            </p>
            <p>
                بعد از مرگ معیر الممالک باغ به پسرش دوستعلی خان رسید؛ 
                اما وی علاقه‌ای به حفظ باغ نداشت و هروقت به ییلاق می‌آمد خیمه خود را زیر درختان چنار باغ برپا می‌کرد 
                و حتی سنگ‌های مرمر بنا را از جا کند و در نمای عمارت امیریه یا مدرسه نظام فعلی به کار برد. 
                تا اینکه تاجری شیرازی به نام حاجی میرزا حسین این باغ را از دوستعلی خرید و آن را تعمیر کرد. 
                بعد از حاجی میرزا، افرادی چون میرزا حسین تهرانی، 
                میرزا اسماعیل خان امین الممالک و محمد ولی خان سپهسالار تنکابنی، باغ فردوس را صاحب آن شدند. 
                محمد ولی خان عمارت و باغ را آباد و قنات آن را دایر کرد و چند استخر و فواره نیز در جای‌جای باغ احداث کرد؛ 
                اما از آن جایی که تجارتخانه طومانیانس از وی طلبکار بود، باغ را به تصاحب خود درآورد. 
                پس از چندی دولت وقت در مقابل وجهی که از طومانیانس طلبکار بود، 
                آن را ضبط کرد و اراضی‌اش را متری دو تومان و سه تومان به کارمندان وزارتخانه فروخت. ‌
            </p>
    
        </div>
        <div>
            <p>سایر تصاویر</p>
            <img src="{{ load_media }}image/department/garden2.jpg" alt="باغ" height="100" width="100">
            <img src="{{ load_media }}image/department/garden3.jpg" alt="باغ" height="100" width="100">
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}