{% extends 'index.html' %}

{% block title %}معرفی{% endblock %}

{% block header %}
    <nav class="navbar">
        <div>
            <ul class="navbar__ul">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="#">تاریخچه</a></li>
                <li><a href="#">بخش های باغ</a></li>
                <li><a href="#">مسیر بازدید</a></li>
                <li><a href="#">برنامه و قوانین باغ</a></li>
            </ul>
        </div>
        <div>
            <p class="navbar__p">معرفی</p>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <h1>معرفی باغ فردوس</h1>
    <h2>باغ فردوس محله‌ای است در شمیران که در نزدیکی خیابان ولیعصر و میدان تجریش واقع شده‌است. 
        اکنون موزه سینمای ایران در این مکان واقع است. 
        از شمال به میدان تجریش و ابتدای خیابان ولیعصر، از جنوب به بزرگراه مدرس و خیابان فرشته، 
        از شرق به خیابان دربندی و انتهای آفریقا و از غرب به خیابان ولیعصر و پل پارک وی محدود می‌گردد. 
        این محله در تهران قدیم وسیع‌تر بوده‌است. از سمت شمال به پل تجریش، 
        از سمت جنوب به پارک وی، از سمت شرق به رودخانه و از سمت غرب به خیابان ولیعصر منتهی شده‌است.</h2>
{% endblock %}

{% block footer %}{% endblock %}