{% extends 'index.html' %}

{% block title %}موزه{% endblock %}

{% block header %}
    <nav class="navbar">
        <div>
            <ul class="navbar__ul">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'department' %}">صفحه قبلی</a></li>
            </ul>
        </div>
        <div>
            <p class="navbar__p">موزه سینما</p>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <h1>جزئیاتی در مورد موزه سینمای باغ فردوس</h1>
    <div>
        <div>
            <h2>موزه سینما</h2>
            <img src="{{ load_media }}image/department/museum1.jpg" alt="موزه" height="250">
            <p>
                طرح ایجاد موزه‌ سینما در شهریور سال ۱۳۷۳ و به همت مدیران مرکز توسعه‌ فضاهای فرهنگی شهرداری تهران مطرح شد. 
                سرانجام با تلاش‌های آقایان عباس کیارستمی، استاد عزت‌الله انتظامی، 
                غلامرضا جلال امیدی، امیر ثباتی، بهزاد رحیمیان و عزیزالله ساعتی موزه‌ سینما در سال ۱۳۷۷ در مکان 
                اولیه خود واقع در خیابان لاله‌زار، کوچه‌ پیرنیا و با حضور آقای حبیبی، 
                معاون اول رئیس‌جمهوری وقت، افتتاح شد. از فعالیت‌های اولیه موزه می‌توان به انتشار چند کتاب، 
                کارت پستال، مجموعه‌ای از موسیقی‌های متن فیلم‌های ایرانی و برگزاری جشن‌های ۱۰۰ سالگی سینما اشاره کرد. 
                پس از گذشت چند سال و در سال ۱۳۸۱، 
                با کمک نهادهای گوناگون از جمله اداره‌ فرهنگ و ارشاد اسلامی و معاونت امور سینمایی و با حضور رئیس‌جمهوری وقت، 
                آقای سید محمد خاتمی، موزه‌ سینما در مکان کنونی آن یعنی مجموعه‌ باغ فردوس گشایش یافت. 
                استاد عزت‌الله انتظامی نیز اولین مدیرعامل موزه‌ سینمای ایران بود.
            </p>
            <p>
                بخش‌های مختلف موزه سینما باغ فردوس از این قرار است:
                <ul>
                    <li>
                        تالار آغازگران: در این بخش همان طور که از نامش پیدا است، با اولین‌های سینمای ایران، تاریخچه سینما، تجهیزات فیلم‌برداری، فیلم‌ها و... آشنا خواهید شد.
                    </li>
                    <li>
                            تالار معاصران: این تالار معرف هنرمندان معاصر سینما بوده و پرتره شخصیت‌های مطرح در زمینه بازیگری، کارگردانی، آهنگسازی و تصویربرداری به نمایش گذاشته شده است.
                    </li>
                    <li>
                        تالار بین‌‌‌الملل: جوایز هنرمندان افتخار آفرین در عرصه بین‌المللی مانند نخل طلایی کن، شیر ونیز، خرس برلین و دیگر جوایز جهانی سینمای ایران و پوسترهایی از فیلم‌های ایرانی راه یافته به جشنواره های جهانی در این تالار جمع‌آوری شده است.
                    </li>
                    <li>
                        تالار نام‌آوران: در این تالار تاریک، ناگهان با نور فلاش عکاسان و صدای تشویق حضار روبه‌رو می‌شوید و سپس با نام آوران هنر آشنا خواهید شد.
                    </li>
                    <li>
                        بخشسینمای کودک و نوجوان: در این قسمت می‌توانید عروسک‌هایی مثل کلاه قرمزی، پسرخاله و تصاویری از بازیگران و دست اندرکاران سینمای کودک را ببینید.
                    </li>
                    <li>
                        بخش سینمای دفاع مقدس: تصاویر مربوط به فیلم‌ها، بازیگران، کارگردان‌ها و عوامل اصلی فیلم‌های جنگی کشور زینت‌بخش این تالار است.
                    </li>
                    <li>
                        تماشاخانه: در تماشاخانه موزه سینما، با بازسازی سینماهای دهه ۳۰ و ۴۰ و تماشای نخستین تصاویر سینمای ایران؛ به تاریخ سفر می‌کنید.
                    </li>
                    <li>
                        بخش صدا و دوبله: در این موزه، نمایشگاهی به ابزارهای قدیمی صدابرداری، غرفه علی کسمایی؛ پدر دوبله ایران و لحظاتی از نخستین فیلم‌های دوبله شده اختصاص داده شده است.
                    </li>
                    <li>
                        اتاقی به نام علی حاتمی: شاه‌نشین عمارت باغ فردوس به کارگردان مشهور ایران؛ علی حاتمی اختصاص داده شده است و وقتی وارد آن شوید وی را می‌بینید که پشت میز تدوین فیلم حاجی واشنگتن به‌همراه عزت‌الله انتظامی، بازیگر نقش اول آن نشسته است.
                    </li>
                    <li>
                        خانه فرهاد: با شنیدن صدای فرهاد وارد اتاق نمادین این خواننده نامی می‌شوید. یادگارهایی از وسایل شخصی، سازهای او و کتاب هایش در این موزه نگهداری می‌شود.
                    </li>
                </ul>
            </p>
    
        </div>
        <div>
            <p>سایر تصاویر</p>
            <img src="{{ load_media }}image/department/museum-sub1.png" alt="موزه" height="100" width="100">
            <img src="{{ load_media }}image/department/museum-sub2.png" alt="موزه" height="100" width="100">
            <img src="{{ load_media }}image/department/museum-sub3.png" alt="موزه" height="100" width="100">
            <img src="{{ load_media }}image/department/museum-sub4.png" alt="موزه" height="100" width="100">
            <img src="{{ load_media }}image/department/museum-sub5.png" alt="موزه" height="100" width="100">

        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}