@font-face {
    font-family: 'Yekan';
    src: url('../font/yekan/Yekan.eot');
    src: url('../font/yekan/Yekan.eot?#iefix') format('embedded-opentype'),
        url('../font/yekan/Yekan.woff2') format('woff2'),
        url('../font/yekan/Yekan.woff') format('woff'),
        url('../font/yekan/Yekan.ttf') format('truetype'),
        url('../font/yekan/Yekan.svg#Yekan') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    direction: rtl;
    font-family: "Yekan";
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: hsl(150, 80%, 50%);
}

.navbar__p {
    margin: 0px 50px;
    color: hsl(250, 80%, 10%);
    font-size: larger;
    font-weight: bolder;
}

.navbar__ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__ul li {
    list-style: none;
    margin: 0px 20px;
}

.navbar__ul li a{
    text-decoration: none;
    color: black;
}

.navbar__ul li a:hover{
    color: hsl(10, 80%, 50%);
}