{% extends 'index.html' %}

{% block title %}لیست مقالات{% endblock title %}

{% block header %}
    <nav class="navbar">
        <div>
            <ul class="navbar__ul">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'e_home' %}">صفحه قبلی</a></li>
            </ul>
        </div>
        <div>
            <p class="navbar__p">مقالات</p>
        </div>
    </nav>
{% endblock header %}

{% block main %}
    <h1>لیست مقالات</h1>
    <div>
        <table border="1">
            <tr>
                <th>تصویر</th>
                <th>عنوان</th>
                <th>خلاصه</th>
                <th>نویسنده</th>
                <th>گروه</th>
                <th>آخرین بروز رسانی</th>
                <th>تعداد بازدید</th>
                <th>توضیحات</th>
            </tr>
            
            {% for article in article_list %}
                <tr>
                    <td><img style="width: 50px; height: 50px;" src="{{ load_media }}{{ article.image }}" alt="تصویر مقاله"></td>
                    <td>{{ article.title }}</td>
                    
                    <td>{{ article.text }}</td>
                    <td>
                        {% for author in article.author.all %}
                            {{ forloop.counter }}-{{ author.name }} <br>
                        {% empty %}
                            نویسنده ندارد
                        {% endfor %}
                    </td>
                    <td>{{ article.articleGroup }}</td>
                    <td>{{ article.updateDate }}</td>
                    <td>{{ article.seen }}</td>
                    <td><a href="{% url 'article_detail' article.pk %}">جزئیات</a></td>
            {% empty %}
                <tr>
                    <td rowspan="8">لیست مقالات خالی است</td>
                </tr>    
            {% endfor %}
                </tr>
        </table>
    </div>
    
{% endblock main %}

{% block footer %}{% endblock footer %}