{% extends 'index.html' %}

{% block title %}آموزش و پرورش{% endblock title %}

{% block header %}
    <nav class="navbar">
        <div>
            <ul class="navbar__ul">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'articles' %}">مقالات</a></li>
                <li><a href="#">کارگاه ها</a></li>
            </ul>
        </div>
        <div>
            <p class="navbar__p">آموزش و پرورش</p>
        </div>
    </nav>
{% endblock header %}

{% block main %}
    <h2>به قسمت آموزش و پرورش خوش آمدید</h2>
    <p>این قسمت فعلا خالی است لطفا بخش <strong style="color: red;">مقالات</strong> را امتحان کنید.</p>
{% endblock main %}

{% block footer %}{% endblock footer %}